html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222; /* Add a dark background to the page itself */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}
